---

---

<div>
  <form action="#">
    <div>
      <label for="nombre"> Nombre </label>
      <input type="text" placeholder="Nombre" id="fullName" name="fullName" />
    </div>

    <div>
      <label for="email"> E-mail </label>
      <input
        type="text"
        placeholder="email@ejemplo.com"
        id="email"
        name="email"
      />
    </div>

    <div>
      <label for="telefono"> Telefono </label>
      <input
        type="tel"
        placeholder="+57 xxx-xxx-xxxx"
        id="telefono"
        name="telefono"
      />
    </div>

    <div>
      <label for="inquietudes"> Inquietudes </label>
      <input
        type="text"
        placeholder="Inquietudes"
        id="inquietudes"
        name="inquietudes"
      />
    </div>

    <div>
      <label>
        <input type="checkbox" id="terms" name="terms" />
        Aceptar terminos y condiciones
      </label>
    </div>

    <button class="btn-primary">Enviar</button>
  </form>
</div>
