---
import LogoBrand from "../ui/LogoBrand.astro";
---

<!-- ========== FOOTER ========== -->
<footer
  class="mt-auto border border-t-colorKidslightBlue w-full py-10 px-4 sm:px-6 lg:px-8 mx-auto"
>
  <!-- Grid -->
  <div class="text-center">
    <div>
      <a
        class="flex-none text-xl font-semibold text-black dark:text-white"
        href="#"
        aria-label="Brand"
      >
      </a>
    </div>
    <!-- End Col -->

    <div class="mt-3">
      <p class="text-gray-500 dark:text-neutral-500">
        We're part of the <a
          class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium dark:text-blue-500"
          href="#">Color kids</a
        > family.
      </p>
      <p class="text-gray-500 dark:text-neutral-500">© 2025 Color Kids.</p>
    </div>

    <!-- Social Brands -->
    <div class="mt-3 space-x-2">
      <a
        class="inline-flex justify-center items-center gap-x-2 text-sm font-semibold text-gray-500 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
        href="#"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><rect width="24" height="24" fill="none"></rect><circle
            cx="17"
            cy="7"
            r="1.5"
            fill="#2897fd"
            fill-opacity="0"
            ><animate
              fill="freeze"
              attributeName="fill-opacity"
              begin="1.3s"
              dur="0.15s"
              values="0;1"></animate></circle
          ><g
            fill="none"
            stroke="#2897fd"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            ><path
              stroke-dasharray="72"
              stroke-dashoffset="72"
              d="M16 3c2.76 0 5 2.24 5 5v8c0 2.76 -2.24 5 -5 5h-8c-2.76 0 -5 -2.24 -5 -5v-8c0 -2.76 2.24 -5 5 -5h4Z"
              ><animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                dur="0.6s"
                values="72;0"></animate></path
            ><path
              stroke-dasharray="28"
              stroke-dashoffset="28"
              d="M12 8c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4"
              ><animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                begin="0.7s"
                dur="0.6s"
                values="28;0"></animate></path
            ></g
          ></svg
        >
      </a>
      <a
        class="inline-flex justify-center items-center gap-x-2 text-sm font-semibold text-gray-500 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
        href="#"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><rect width="24" height="24" fill="none"></rect><g
            fill="none"
            stroke="#2897fd"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
            ><path
              stroke-dasharray="24"
              stroke-dashoffset="24"
              d="M17 4l-2 0c-2.5 0 -4 1.5 -4 4v12"
              ><animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                dur="0.4s"
                values="24;0"></animate></path
            ><path stroke-dasharray="8" stroke-dashoffset="8" d="M8 12h7"
              ><animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                begin="0.5s"
                dur="0.2s"
                values="8;0"></animate></path
            ></g
          ></svg
        >
      </a>
      <a
        class="inline-flex justify-center items-center gap-x-2 text-sm font-semibold text-gray-500 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
        href="#"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><rect width="24" height="24" fill="none"></rect><path
            fill="#2897fd"
            d="M8.5 2h2.5L11 2h-2.5zM13 2h2.5L15.5 2h-2.5zM10.5 2h5v0h-5zM8.5 2h5v0h-5zM10 2h3.5L13.5 2h-3.5z"
            ><animate
              fill="freeze"
              attributeName="d"
              dur="0.8s"
              keyTimes="0;0.3;0.5;1"
              values="M8.5 2h2.5L11 2h-2.5zM13 2h2.5L15.5 2h-2.5zM10.5 2h5v0h-5zM8.5 2h5v0h-5zM10 2h3.5L13.5 2h-3.5z;M8.5 2h2.5L11 22h-2.5zM13 2h2.5L15.5 22h-2.5zM10.5 2h5v2h-5zM8.5 20h5v2h-5zM10 2h3.5L13.5 22h-3.5z;M8.5 2h2.5L11 22h-2.5zM13 2h2.5L15.5 22h-2.5zM10.5 2h5v2h-5zM8.5 20h5v2h-5zM10 2h3.5L13.5 22h-3.5z;M1 2h2.5L18.5 22h-2.5zM5.5 2h2.5L23 22h-2.5zM3 2h5v2h-5zM16 20h5v2h-5zM18.5 2h3.5L5 22h-3.5z"
            ></animate></path
          ></svg
        >
      </a>
    </div>
    <!-- End Social Brands -->
  </div>
  <!-- End Grid -->
</footer>
<!-- ========== END FOOTER ========== -->
