---
import { Image } from "astro:assets";

import logo from "../../assets/Images/logo-512x512.png";
---

<header
  class="sticky top-0 inset-x-0 flex flex-wrap md:flex-nonwrap z-50 w-full backdrop-blur-3xl main-header"
>
  <nav class="w-full mx-auto md:w-9/12 nav-bar">
    <div class="flex justify-between items-center p-5">
      <!-- Logo -->
      <div>
        <a href="/">
          <Image src={logo} alt="Logo" class="w-32 h-32 image" />
        </a>
      </div>
      <!-- Mobile menu button -->
      <div>
        <button
          type="button"
          class="relative items-center justify-center p-2 focus:outline-0 md:hidden open-mobile-menu"
        >
          <span class="sr-only">Open mobile menu</span>
          <!-- Open icon -->
          <svg
            class="block text-gray-700 hover:text-gray-900"
            id="open-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path d="M20 5h-13"></path><path d="M20 10h-10"></path><path
                d="M20 15h-16"></path><path d="M20 20h-13"></path></g
            ></svg
          >

          <!-- Close icon -->

          <svg
            class="hidden text-gray-700 hover:text-gray-900"
            id="close-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-dasharray="16"
              stroke-dashoffset="16"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path d="M7 7l10 10" stroke-dashoffset="0"></path><path
                d="M17 7l-10 10"
                stroke-dashoffset="0"></path></g
            ></svg
          >
        </button>
      </div>
      <!-- Desktop menu -->
      <div class="hidden md:block">
        <div class="flex space-x-4 items-center">
          <a id="link" href="/" class="text-gray-900">Inicio</a>
          <a id="link" href="/nosotros" class="text-gray-900">Nosotros</a>
          <a id="link" href="/servicios" class="text-gray-900">Servicios</a>
          <a id="link" href="/contacto" class="text-gray-900">Contacto</a>
          <a id="link" href="/blog" class="text-gray-900">Blog</a>
        </div>
      </div>
    </div>
    <!-- Mobile menu -->
    <div class="mobile-menu md:hidden">
      <div class="flex flex-col items-end pr-7 space-y-4 bg-orangelight">
        <a id="link" href="/" class="text-gray-900">Inicio</a>
        <a id="link" href="/nosotros" class="text-gray-900">Nosotros</a>
        <a id="link" href="/servicios" class="text-gray-900">Servicios</a>
        <a id="link" href="/contacto" class="text-gray-900">Contacto</a>
        <a id="link" href="/blog" class="text-gray-900">Blog</a>
      </div>
    </div>
  </nav>
</header>

<style>
  .mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  .mobile-menu.open {
    max-height: 1000px;
    transition: max-height 0.8s ease-in;
  }

  /* .image-resize {
    width: 78px;
    height: 78px;
    transition: ease 0.5s;
  } */

  /* .image {
    animation: enhance-navbar linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
  } */

  /* @keyframes enhance-navbar {
    to {
      width: 78px;
      height: 78px;
    }
  } */
</style>

<script>
  const btn = document.querySelector(
    "button.open-mobile-menu",
  ) as HTMLButtonElement;
  const menu = document.querySelector(".mobile-menu") as HTMLDivElement;
  const openIcon = document.querySelector("#open-icon") as HTMLElement;
  const closeIcon = document.querySelector("#close-icon") as HTMLElement;

  const currentPath = window.location.pathname;
  const links = document.querySelectorAll("#link");
  links.forEach((link) => {
    if (link.getAttribute("href") === currentPath) {
      link.classList.add("text-orangeMain");
    } else {
      link.classList.remove("text-orangeMain");
    }
  });

  btn.addEventListener("click", () => {
    menu.classList.toggle("open");
    openIcon.classList.toggle("hidden");
    closeIcon.classList.toggle("hidden");
  });
</script>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  ScrollTrigger.create({
    markers: true,
    start: "top -80",
    end: "top 110px",
    onEnter: () => {
      gsap.to(".image", {
        height: "80px",
        width: "80px",
        duration: 0.5,
      });
    },
    onLeaveBack: () => {
      gsap.to(".image", {
        height: "128px",
        width: "128px",
        duration: 0.5,
      });
    },

    // toggleClass: { targets: ".image", className: "image-resize" },
  });
</script>
