---
import LogoBrand from "../ui/LogoBrand.astro";
---

<header
  class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm"
>
  <nav
    class="max-w-[65rem] w-full mx-auto px-4 my-5 backdrop-blur-md sm:flex sm:items-center sm:justify-between"
  >
    <div class="flex items-center justify-between">
      <!-- Website Logo -->
      <a href="/" aria-label="Brand">
        <LogoBrand />
      </a>
      <!-- Menu btn -->
      <div
        class="mobile-menu-toogle sm:hidden relative size-7 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
      >
        <button type="button" class="size-7">
          <svg
            class="shrink-0 size-4"
            id="burguer-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><line x1="3" x2="21" y1="6" y2="6"></line><line
              x1="3"
              x2="21"
              y1="12"
              y2="12"></line><line x1="3" x2="21" y1="18" y2="18"></line></svg
          >

          <span class="sr-only">Toggle navigation</span>
        </button>
        <button type="button" class="btnClose size-7 hidden">
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
          >
        </button>
      </div>
    </div>
    <!-- Menu -->
    <div
      class="mobile-menu hidden sm:flex overflow-hidden transition delay-150 duration-300 ease-in-out"
    >
      <div class="flex flex-col gap-y-5 mt-5 sm:flex-row sm:gap-x-5 sm:mt-0">
        <a
          id="link"
          class="font-medium text-gray-600 focus:outline-none"
          href="/"
          aria-current="page">Inicio</a
        >
        <a
          id="link"
          class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400"
          href="/services">Servicios</a
        >
        <a
          id="link"
          class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400"
          href="/about">Nosotros</a
        >
        <a
          id="link"
          class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400"
          href="/blog">Blog</a
        >
      </div>
    </div>
  </nav>
</header>

<style>
  .mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .mobile-menu.open {
    max-height: 1000px; /* Adjust this value based on your menu's maximum height */
    transition: max-height 0.5s ease-in;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const activeLinks = document.querySelectorAll("#link");
    const menuBtn = document.querySelector(
      ".mobile-menu-toogle",
    ) as HTMLButtonElement;
    const menu = document.querySelector(".mobile-menu") as HTMLDivElement;
    const burguerIcon = document.querySelector("#burguer-icon") as HTMLElement;
    const closeIcon = document.querySelector("#close-icon") as HTMLElement;

    const currentPath = window.location.pathname;

    activeLinks.forEach((link) => {
      if (link.getAttribute("href") === currentPath) {
        link.classList.add("text-colorKidsorangeWeb");
      } else {
        link.classList.remove("text-colorKidsorangeWeb");
      }
    });

    menuBtn.addEventListener("click", () => {
      menu.classList.toggle("open");
      burguerIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    });
  });
</script>
