---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-4xl font-bold mb-3 p-5">Welcome to Astro</h1>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast
    performance without sacrificing the developer experience.
  </p>
</MainLayout>
