---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="flex items-center justify-center h-screen bg-[#1b1b1b]">
    <div
      id="box"
      class="w-14 h-14 m-3 bg-colorKidsBlue border border-colorKidslightBlue rounded-md"
    >
    </div>
  </section>
  <script is:inline type="module">
    import "/src/scripts/gsapAnimation.js";
  </script>
</Layout>
