---

---

<div
  class="prose-p:text-justify
  prose-img:rounded-xl
  prose-img:my-5
  prose-p:mb-2.5
  prose-p:font-manrope
  prose-headings:font-poppins
  prose-h2:text-xl
  prose-h2:my-5
  prose-h2:text-[min(5vw,20px)]"
>
  <slot />
</div>
