---
import { getCollection } from "astro:content";

import ContactBanner from "../ui/ContactBanner.astro";
import MinimalTypedPostCard from "../ui/cards/MinimalTypedPostCard.astro";
import ImgHoverTypedPostCard from "../ui/cards/ImgHoverTypedPostCard.astro";

const { count = 3 } = Astro.props;

const blogPosts = await getCollection("blog");

const recentPosts = blogPosts
  .sort(
    (a, b) =>
      new Date(a.data.pubDate).getTime() - new Date(b.data.pubDate).getTime(),
  )
  .slice(0, count);
---

<section class="max-w-7xl mx-auto mb-20">
  <div class="container mx-auto px-4">
    <h1
      class="my-12 md:my-16 tracking-tight text-4xl text-slate-900 text-[min(10vw,60px)] font-bold"
      id="title"
    >
      Nuestros posts mas recientes
    </h1>

    <!-- Blog-posts-grid -->
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 posts">
      {recentPosts.map((post) => <ImgHoverTypedPostCard post={post} />)}
    </div>
    <div class="mt-10">
      <!-- <ContactBanner /> -->
    </div>
  </div>
</section>

<script>
  import { blogPostsAnimation } from "../../scripts/homePageAnimations/blogPostsAnimation";
  blogPostsAnimation();
</script>

<!-- <style>
  .title {
    animation: reveal-title linear both;
    animation-timeline: view(block);
    animation-range: entry 0% cover 30%;
  }

  .posts {
    animation: reveal-cards ease-in both;
    animation-timeline: view(block);
    animation-range: entry 0% cover 30%;
  }

  @keyframes reveal-title {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(80px);
    }
  }

  @keyframes reveal-cards {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.6;
      transform: translateY(80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style> -->
