---
import ContactForm from "../form/contactForm.astro";
---

<section>
  <div class="flex flex-col items-center justify-center space-y-2 col-span-2">
    <div>
      <p>
        <iframe
          class="w-3xs h-3xs md:w-xl md:h-96"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.4824734110725!2d-74.06464452545609!3d4.685893495289075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bb05327ff93%3A0xe15b4bd624b06708!2sColor%20Kids%20-%20Centro%20de%20Estimulaci%C3%B3n%20Infantil!5e0!3m2!1ses-419!2sco!4v1740414056473!5m2!1ses-419!2sco"
          allowfullscreen="true"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>
    </div>
  </div>

  <!-- Contact-form -->
  <div class="ml-4 mb-3">
    <ContactForm />
  </div>
</section>

<style>
  iframe {
    border-radius: 16px;
    border: 2px solid slategray;
  }
</style>
