---
import ContactForm from "../ui/form/contactForm.astro";
---

<section class="max-w-9/12 mx-auto pb-20">
  <div class="container mx-auto">
    <h1
      class="mb-12 tracking-tight text-4xl text-slate-900 text-center text-[min(10vw,60px)] font-bold sm:text-start title"
    >
      Contacto
    </h1>
    <div class="grid lg:grid-cols-2 gap-6">
      <div class="flex flex-col max-w-2xl md:p-6 subTitle">
        <h1
          class="text-4xl text-[min(10vw,60px)] font-bold text-slate-300 leading-tight"
        >
          Listo para comenzar? <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-fuchsiaDark"
            >Contactanos!</span
          >
        </h1>
      </div>

      <div class="form">
        <ContactForm />
      </div>
    </div>
  </div>
</section>

<!-- <style>
  .title {
    animation: reveal-title 3s linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 30%;
  }

  .subTitle {
    animation: reveal-subTitle 3s linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 30%;
  }

  .form {
  }

  @keyframes reveal-title {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(-40px);
    }
  }
  @keyframes reveal-subTitle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.6;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(-10px);
    }
  }
  @keyframes reveal-form {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(80px);
    }
  }
</style> -->
