---

---

<section class="max-w-10/12 mx-auto">
  <div
    class="flex flex-col space-y-5 justify-center items-center p-4 text-[min(10vw,40px)]"
  >
    Hero section
    <button class="btn-primary">Primary</button>
    <button class="btn-secondary">Secondary</button>
    <button class="btn-tertiary">Tertiary</button>
  </div>
</section>
