---

---

<section class="max-w-9/12 mx-auto my-12 md:my-20">
  <div class="container mx-auto">
    <h1
      class="mb-12 tracking-tight text-4xl text-slate-900 text-center text-[min(10vw,60px)] font-bold sm:text-start title"
    >
      Nuestros servicios
    </h1>
    <div class="services space-y-10 md:space-y-8">
      <!-- First-service -->
      <div class="flex flex-col items-start animated-service-1">
        <h1
          class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-blue-400 to-fuchsiaDark text-[min(10vw,72px)]"
        >
          01
        </h1>
        <h1 class="capitalize">Terapia ocupacional pediatrica</h1>

        <p class="prose font-manrope">
          Ayudamos a niños con dificultades cognitivas o no, a desarrollar
          habilidades para actividades diarias como jugar, aprender o cuidarse,
          usando juegos y estrategias personalizadas para mejorar su
          independencia y bienestar.
        </p>
        <a href="/servicios">
          <p
            class="mt-4 inline-flex items-center gap-x-1 text-sm text-slate-800 decoration-2 hover:underline focus:underline font-medium"
          >
            Leer más
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
            >
          </p>
        </a>
      </div>
      <!-- Second-service -->
      <div class="flex flex-col items-end animated-service-2">
        <h1
          class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-blue-400 to-fuchsiaDark text-[min(10vw,72px)]"
        >
          02
        </h1>
        <h1 class="capitalize">Fonoaudiología</h1>

        <p class="prose font-manrope">
          servicio profesional especializado en la prevención, evaluación,
          diagnóstico, tratamiento y rehabilitación de trastornos relacionados
          con la comunicación humana. Este incluye áreas como el habla, la voz,
          el lenguaje, la audición y las funciones orales (como la deglución y
          la masticación).
        </p>
        <a href="/servicios">
          <p
            class="mt-4 inline-flex items-center gap-x-1 text-sm text-slate-800 decoration-2 hover:underline focus:underline font-medium"
          >
            Leer más
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
            >
          </p>
        </a>
      </div>
      <!-- third-service -->
      <div class="flex flex-col items-start animated-service-3">
        <h1
          class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-blue-400 to-fuchsiaDark text-[min(10vw,72px)]"
        >
          03
        </h1>
        <h1 class="capitalize">Terapia alimentaria</h1>

        <p class="prose font-manrope">
          servicio especializado diseñado para apoyar a niños que enfrentan
          dificultades relacionadas con la alimentación, ya sea por problemas
          médicos, sensoriales, de desarrollo o de comportamiento.
        </p>
        <a href="/servicios">
          <p
            class="mt-4 inline-flex items-center gap-x-1 text-sm text-slate-800 decoration-2 hover:underline focus:underline font-medium"
          >
            Leer más
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
            >
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".title", {
    opacity: 0,
    x: -80,
    duration: 1.5,
    ease: "linear",
    scrollTrigger: {
      trigger: ".title",
      start: "top 80%",
      end: "top 30%",
      scrub: 1,
    },
  });
</script>

<!-- <style>
  .title {
    animation: reveal-title 3s linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 30%;
  }
  .animated-service-1 {
    animation: reveal-1 3s ease-in-out both;
    animation-timeline: view(block);
    animation-range: entry 0% cover 30%;
  }
  .animated-service-2 {
    animation: reveal-2 3s ease-in-out both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 40%;
  }
  .animated-service-3 {
    animation: reveal-3 3s ease-in-out both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 30%;
  }

  @keyframes reveal-title {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes reveal-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes reveal-2 {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes reveal-3 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
    }
  }
</style> -->
