---
import NavBar from "@/components/shared/NavBar.astro";

interface Props {
	title?: string;
	descripcion?: string;
	image?: string;
}

const {
	title = "Color Kids",
	descripcion = "Especializados en asesorar a padres bajo la lente de la terapia ocupacional para ofrecer soporte a necesidades especicas de los niños/ñas",
	image,
} = Astro.props;
---

<!doctype html>
<html lang="es-CO" class="scrollbar-hide lenis lenis-smooth scroll-pt-16">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://unpkg.com/lenis@1.1.19/dist/lenis.min.js"></script>
	</head>
	<body class="bg-white selection:bg-yellow-200 selection:text-neutral-700">
		<NavBar />
		<div>
			<main>
				<slot />
			</main>
		</div>
		<style>
			/* CSS rules for the page scrollbar */
			.scrollbar-hide::-webkit-scrollbar {
				display: none;
			}

			.scrollbar-hide {
				-ms-overflow-style: none;
				scrollbar-width: none;
			}
		</style>
	</body>
</html>

<script>
	import "preline/dist/preline.js";
</script>
